{% extends "template.html" %}
{% block content %}
<h3>Rockets Roster</h3>
<table class="table table-striped table-bordered table-hover table condensed">
<tr>
   <th>First Name</th>
   <th>Last Name</th>
   <th>College / Country</th>
   <th>Height</th>
   <th>Weight</th>
   <th>Position</th>
   <th>Birthdate</th>
 </tr>
{% for x in info1 %}
<tr>
   <td>{{ x.FirstName }}</td>
   <td>{{ x.LastName }}</td>
   <td>{{ x.College_Country }}</td>
   <td>{{ x.Height }}</td>
   <td>{{ x.Weight }}</td>
   <td>{{ x.Position }}</td>
   <td>{{ x.BirthDate }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}